<div class="mt-4 row">
  <div class="col-2 offset-5">
    <button mat-raised-button routerLink="/add">
      <mat-icon>add</mat-icon>
      Submit A Link
    </button>
  </div>
</div>

<div class="row mt-5">
  <div class="col-8 offset-2">
    <mat-form-field appearance="fill">
      <mat-label>Order by</mat-label>
      <mat-select (selectionChange)="orderByChange($event.value)">
        <mat-option *ngFor="let option of orderByOptions" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div *ngFor="let link of obs | async" class="row mt-3">
  <div class="offset-2 col-2">
    <mat-card>
      <mat-card-content class="text-center">
        <h1>{{link.point}}</h1>
        POINTS
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-6">
    <div class="action-card card-hover">
      <div (click)="openDeleteConfirmDialog(link.name)" class="delete-icon">
        <mat-icon>delete</mat-icon>
      </div>
      <mat-card>
        <mat-card-title>{{link.name}}</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 0">({{link.url}})</mat-card-subtitle>
        <mat-card-actions>
          <button (click)="upVote(link)" mat-button>
            <mat-icon>arrow_upward</mat-icon>
            Up Vote
          </button>
          <button (click)="downVote(link)" mat-button>
            <mat-icon>arrow_downward</mat-icon>
            Down Vote
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4 offset-6">
    <mat-paginator [hidePageSize]="true"
                   [pageSize]="5"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>

<!--<hr>-->

<!--<p>List {{ links | json }}</p>-->


